	input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

	/*--------------- CSS for WELCOME ----------*/
	#wel{
		font-family:  'Libre Baskerville', serif;
		font-size: 42px;
		margin-top: 120px;
	}

	/*------------- CSS for Login heading -----------*/
	#login{
		font-family:'Libre Baskerville', serif;
		font-size: 32px;
		margin-top: 70px; 
	}

	/*------------- CSS for label -------------*/
	label{
		font-family: 'Libre Franklin', sans-serif;
		font-size: 18px;
		padding-top: 10px;
	}